.home,li.lang {
    position: relative
}

.home {
    left: 30px;
    float: left
}

ul.lang {
    list-style-type: none;
    overflow: hidden;
    background-color: #424242
}

li.lang {
    right: 25px;
    float: right
}

a {
    display: block;
    padding: 14px;
    margin-top: 3px;
    font-size: 14px;
    text-decoration: none
}

.active,a:hover {
    text-decoration: underline
}

.slash,a {
    color: #fff;
    font-family: calibri
}