.clearfix {
    position: relative;
    top: 3%
}

.navigation {
    float: left;
    width: 38%;
    margin: 3% 5% 5%;
    padding: 10px
}

.inputNum {
    font-family: verdana;
    color: #333
}

.application {
    width: 75%;
    padding: 12px 20px;
    margin: 5% 0;
    font-family: verdana;
    font-weight: 500;
    font-size: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    -webkit-transition: .5s;
    transition: .5s;
    outline: 0
}

.application:focus,.form_menu:focus {
    border: 2px solid #00008b
}

.text_application {
    font-size: 130%
}

.matn,.text_application {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    color: #00008b
}

.text_nav {
    font-family: verdana;
    font-size: 98%
}

.text_border {
    color: #555;
    background-color: #eee;
    padding: 10px 15px 15px 20px
}

.kirish,.section {
    margin-top: 5%;
    color: #555
}

.kirish {
    font-family: "calibri light";
    text-align: center;
    font-style: italic;
    font-weight: 500
}

.section {
    margin-right: 5%;
    margin-left: 49%;
    padding: 20px;
    border-left: 5px solid #fff
}

.WarningText {
    font-family: verdana;
    font-size: 80%;
    color: red;
    margin: 0;
    padding: 0 0 2%
}

.form_menu,.select_menu {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px
}

.form_menu {
    font-size: 90%;
    font-family: verdana;
    color: #333;
    border: 2px solid #ccc;
    -webkit-transition: .5s;
    transition: .5s;
    outline: 0
}

.select_menu {
    border: 0;
    background-color: #eee
}

.button {
    clear: right;
    display: block;
    margin-left: 5%
}

.send,.text_prop {
    font-family: verdana
}

.send {
    background-color: #a1a1a1;
    color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}

.send:hover,.send:visited {
    background-color: #777
}

.text_prop {
    font-size: 100%
}

.footer_ {
    padding: 1em;
    margin: 4em;
    color: #000;
    background-color: #fff;
    clear: left;
    text-align: center;
    visibility: hidden
}